/* Coolors Exported Palette - coolors.co/e63946-fed766-db3069-fdfdff-2a2b2a */

/* HSL */
$color1: hsla(355%, 78%, 56%, 1);
$color2: hsla(45%, 99%, 70%, 1);
$color3: hsla(340%, 70%, 52%, 1);
$color4: hsla(240%, 100%, 100%, 1);
$color5: hsla(120%, 1%, 17%, 1);

/* RGB */
$color1: rgba(230, 57, 70, 1);
$color2: rgba(254, 215, 102, 1);
$color3: rgba(219, 48, 105, 1);
$color4: rgba(253, 253, 255, 1);
$color5: rgba(42, 43, 42, 1);